streamlit
chromadb==0.5.3
groq==0.9.0
huggingface-hub==0.23.4
langchain==0.2.6
langchain-cohere==0.1.8
langchain-community==0.2.6
langchain-core==0.2.10
langchain-groq==0.1.5
langchain-text-splitters==0.2.2
faiss-cpu==1.8.0.post1
streamlit_chat
pypdf
fitz
pypdf2